@model LibrarysSystem.Models.ViewModels.LoginRequest
@{
}

<div class="position-relative container mt-5">
    <div class="position-absolute top-50 start-50 translate-middle" 
    style="background-color:white;width:450px; margin-top:150px">

            <h1 class="text-center" style="font-style:italic">Login</h1>

        <form method="post">
            <div class="mb-3">
                <label class="form-label">Nickname</label>
                <input type="text" class="form-control" id="name" asp-for="Nickname" />
                @Html.ValidationMessageFor(m => m.Nickname)
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" id="password" asp-for="Password" />
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-dark text-center" style="float:left">Login</button>
              <p style="margin-left:350px">
                    or <a asp-area="" asp-controller="Register" asp-action="Register">Sign up</a>
                </p>
            </div>
        </form>
    </div>

</div>


