@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our online library store!</h1>  
</div>
<br />
<br />

<div style="display: flex;
flex-direction: row; width:100%">

    <div style="width:25%; margin-left:-110px">
        <img src="~/Images/firsthalfbibl.png" style="width:250px; height:350px; border-radius:1px 25px 25px 1px" />
    </div>


           <div class="text-center" style="width:50%; margin-left:165px">
               <img src="~/Images/Beggphoto.jpg" style="width:500px; height:300px"/>
           </div>

    <div style="width:25%; margin-left:158px">
        <img src="~/Images/secondhalf.png" style="width:250px; height:350px; border-radius:25px 1px 1px 25px" />
    </div>


</div>

<br />
<hr />

<div class="alert alert-dismissible alert-primary">
    <br />
    <br />

    <div style="display: flex; flex-direction: row; ">
                           

       <div class="card border-secondary mb-3" style="max-width: 20rem;">
         <div class="card-header" style="font-size:30px">Hello there!</div>
         <div class="card-body">
            <h4 class="card-title" style="font-size:40px">Introduction</h4>
            <p class="card-text" style="font-size:20px">In this website you can find library units which are located in different places in town Kazanlak!</p>
         </div>
       </div>

        <div style="margin-left:240px">
            <img src="~/Images/kanzas.jpg" style="width:450px; height:300px; border-radius:9px 50px 9px 50px" />
        </div>
    </div>

    <br />
    <br />
</div>






