@using LibrarysSystem.User_Managment;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @{
   if(Account.IsLogged)
   {
        <h5 class="display-4" style="font-family:Tahoma; font-style:italic; margin-top:40px; font-size:30px">Hi @Account.Nickname,</h5>
   }
        }
        <h5 class="display-4" style="font-family:Tahoma; font-style:italic; margin-top:40px; font-size:39px">Welcome to My library system!</h5>
    <br />
    <br />
    <p style="font-size:26px">On this site you can find library items, borrow them and return them</p>
    <br />
    <p style="font-size:26px">Before all that, you have to login or sign up if you do not have an account already.</p>
</div>
