@using LibrarySystem.Utility;
@model LibrarySystem.Models.Domain.Section

<div class=" mt-2 container"
     style="background-color:white;width:450px; padding-bottom:100px">



    <form method="post">
        @{
            if (ViewBag.Action == "Create")
            {
                <h1 class="text-center" style="font-style:italic">Create Section</h1>

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" asp-for="Description" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary text-center" style="float:left">Create</button>
                </div>

            }
            else
            {
                <h1 class="text-center" style="font-style:italic">Edit Section</h1>

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary text-center" style="float:left">Update</button>
                </div>

            }

            <div class="text-center">
                <a asp-controller="ManageSections" asp-action="Index" class="btn btn-link" style="float:right;"> Back to List</a>
            </div>

       }

    </form>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>


