@model LibrarysSystem.Models.Domain.Section
@{
}

<div class="position-relative container mt-5">
    <div class="position-absolute top-50 start-50 translate-middle"
         style="background-color:white;width:450px; margin-top:150px">

        <h1 class="text-center" style="font-style:italic">Edit</h1>

        <form method="post">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Name"/>
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="description" asp-for="Description" placeholder="Description"/>
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-dark text-center" style="float:left" asp-route-id="@Model.Id">Update</button>
                <p style="margin-left:290px">
                    or <a asp-area="" asp-controller="Section" asp-action="Details">Back to Details</a>
                </p>
            </div>
        </form>
    </div>

</div>
